@CHARSET "UTF-8";

footer {
	position: relative;
	bottom: 0px;
	margin-bottom: 100px;
	text-align: center;
}

section {
	margin: 80px 0px 100px 0px
}



#back {
	position: relative;
	margin-left: 100px auto;
}

#back0 {
	background-color: #f95a33;
	width: 400px;
	height: 100px;
	color: white;
}

#back1 {
	border: 1px solid #f95a33;
	width: 400px;
	height: auto;
}

#form {al
	
}

#phone {
	width: 30px;
	height: 40px;
	margin: -1px -5px -1px -5px;
}

#succ {
	color: green;
}

.fail {
	color: red;
}


.addr {
	margin-left: 100px;
	float: left
}

.addr1 {
	margin-left: 170px;
}

.rig {
	position: relative;
	left: 900px;
	top: 66px;
	left: 900px;
}

.rogintop {
	position: absolute;
	left: 820px;
	top: 50px;
}

.rogintop2 {
	position: absolute;
	left: 780px;
	top: 50px;
}

.go {
	padding-left: 0;
	margin-left: 0;
	background: none;
}

A:link {
	text-decoration: none
}

A:visited {
	text-decoration: none
}

A:hover {
	text-decoration: none
}
/* .fix {position:absolute;} */
#check {
	text-align: center;
	margin-top: 80px;
}

#logo {
	text-align: center;
}

#topbar {
	text-align: center;
	width: 100%;;
}

#topbar_right {
	position: relative;
	float: right;
}

#topbar_hr {
	text-align: center;
	color: red;
	size: 100px;
	width: 100%;
	border-color: red;
}

#id {
	text-align: center;
}

#loginblock1 {
	margin-bottom: 10px
}

#loginblock2 {
	margin-bottom: 50px
}

.logbutton {
	-moz-box-shadow: inset 0px 1px 0px 0px #cf866c;
	-webkit-box-shadow: inset 0px 1px 0px 0px #cf866c;
	box-shadow: inset 0px 1px 0px 0px #cf866c;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d0451b
		), color-stop(1, #e6d7d4));
	background: -moz-linear-gradient(top, #d0451b 5%, #e6d7d4 100%);
	background: -webkit-linear-gradient(top, #d0451b 5%, #e6d7d4 100%);
	background: -o-linear-gradient(top, #d0451b 5%, #e6d7d4 100%);
	background: -ms-linear-gradient(top, #d0451b 5%, #e6d7d4 100%);
	background: linear-gradient(to bottom, #d0451b 5%, #e6d7d4 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0451b',
		endColorstr='#e6d7d4', GradientType=0);
	background-color: #d0451b;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #942911;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial;
	font-size: 13px;
	padding: 6px 24px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #854629;
}

.logbutton:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e6d7d4
		), color-stop(1, #d0451b));
	background: -moz-linear-gradient(top, #e6d7d4 5%, #d0451b 100%);
	background: -webkit-linear-gradient(top, #e6d7d4 5%, #d0451b 100%);
	background: -o-linear-gradient(top, #e6d7d4 5%, #d0451b 100%);
	background: -ms-linear-gradient(top, #e6d7d4 5%, #d0451b 100%);
	background: linear-gradient(to bottom, #e6d7d4 5%, #d0451b 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e6d7d4',
		endColorstr='#d0451b', GradientType=0);
	background-color: #e6d7d4;
}

.title_name {
	float: left;
	width: 150px;
	text-align: left;
	margin-left: 20px;
}

#back1  .inputType {
	float: left;
	width: 210px;
	border-radius: 3px;
	margin-right: 20px;
}

#back1  .inputType input {
	float: left;
}

.checkCell {
	margin:5px 0 5px 0;
	position: relative;
	width: 400px;
	height: 22px;
}